body {
  background-color: #4B5957;
  color: black;
  font-size: 32px;
}

.box {
  background-color: rgb(50, 50, 50);
  width: 500px;
  margin: 100px auto;
  padding: 5px 15px 15px 20px;
  border-radius: 20px;
}

.btn {
  background-color: #B8A48C;
  color: black;
}
